*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Untitled\ design.png);
}
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
}
.head a{
    position:absolute;
    top: 4px;
    left:730px;
    font-size: 28px;
    font-style: italic;
    color:rgb(249, 12, 12);
    text-decoration: none;
}
.container {
    background-color: rgb(159, 24, 24); 
    padding: 100px; 
    width: 700px; 
    margin: auto; 
    opacity: 0.6; 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 60px;
}
.container h1{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    color: rgb(247, 239, 239);
    font-style: normal;
    font-style: italic;
}
.container p {
    text-align: left;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 15px;
    font-family: cursive;
    color: rgb(244, 236, 236);
    font-style:oblique;
}
.container ul li{
    list-style-type: style disc;
    list-style-position: inside;
    padding-top: 10px;
    padding-left: 70px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.last{
    position: absolute;
    bottom: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
}
